body {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

h1, h2 {
    font-weight: 400;
}

p {
    line-height: 25px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.container .header {
    grid-column: 1 / span 3;
    text-align: center;
}

.container .background {
    grid-column: 1 / span 3;
    text-align: center;
}

.container .article {
    grid-column: 1 / span 2;
    text-align: center;
}

.article .article-text {
    padding: 10px;
}

.container .categories {
    grid-column: 3 / span 1;
    text-align: center;
}

.categories .category-item {
    padding: 5px 0;
}

.container .about {
    grid-column: 1 / span 2;
    text-align: center;
}

.about .about-text {
    padding: 10px;
}

.container .contact {
    grid-column: 3 / span 1;
    text-align: center;
}

.contact .contact-item {
    padding: 5px 0;
}

.contact-item .contact-link {
    color: #003399;
    text-decoration: none;
}

.contact-item .contact-link:hover {
    text-decoration: underline;
}

.container .footer {
    grid-column: 1 / span 3;
    text-align: center;
}

header, div, footer {
    border: 1px solid #ccc;
}